<html>

<head> 
    <link href="../static/css/layout.css" rel = "stylesheet" />
    <meta charset="UFT-8">
    <meta name = "viewport" content = "width = device-width initial-scale = 1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Gatorbook Navbar</title>
    {% block head %}{% endblock %}
</head>


<body> 
    <div> 
        <!-- Header -->
        <header id="header">
            <center>
                <h1>GatorBook</h1>
            </center>
        </header>
    </div>
    <div id="login_bar">
        <a href = "{{ url_for('login') }}">Login | </a>
        <a href = "{{ url_for('login') }}">Logout | </a>
        <a href = "{{ url_for('createUser') }}">Create User | </a>
        <a>{{username}}</a>
    </div>
<div>
    <!-- Navbar -->
    <nav>
        <div class = "nav_left">
            <div class="nav_search">
                <i class  = 'material-icons'>search</i>
                <input type = "text" placeholder = "Search Gatorbook">
            </div>
        </div>
        <div class = "nav_mid">
            <a href = "{{ url_for('index') }}" class = "icon">
                <i class = "material-icons">home</i>
            </a>
        <a href = "{{ url_for('groups') }}" class = "icon">
                <i class = "material-icons">people-outline</i>

            </a>
        </div>
        <div class= "nav_right">
            <div class="buttons">
                <a href="{{ url_for('messenger') }}"> 
                    <i class="material-icons">message</i>
                </a>

                <a href="{{ url_for('notifications') }}">
                    <i class="material-icons">notifications</i>
                    {% set new_messages = current_user.new_messages() %}
                    <span id="message_count" class="badge"
                          style="visibility: {% if new_messages %}visible
                                             {% else %}hidden {% endif %};">
                        {{ new_messages }}
                    </span>
                </a>
            </div>
        </div>
    </nav>
</div>
{% block body %}{% endblock %}
</body>

{% block scripts %}
    <script>
        // ...
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
    </script>
{% endblock %}


<footer id="footer">
    <p>Developed by: Michel Gonzalez, Huan (Nicholas) Tran, Nam (Alex) Tran, Alyssa La Salle<br>
</footer>

</html>