{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <div>
      <h1>Welcome,</h1>
      <p>Our motivation to create a Movie Web app serves to not only join our joint passion for movies but to describe movie review data in a trend analysis manner. We plan on addressing the best films to watch through queries detailed out in our Reviews Section. We hope you enjoy our website</p>
      <br></br>
      <h2>Unique Queries</h2>
      <p>This serves a quick overview of the unique queries collected on this website, where Query One corresponds to I and so on for all queries described below.<p>
      <h3><i>I. Comparison between consumer and critic scores</i></h3>
        <p>This query gives a visual comparison of how critics rated a movie in comparison to that of the consumer. This will be done in a yearly fashion, where the end user can select the span of years to view. The citics will include the critical review scores from Rotten Tomatoes, MetaCritic, and IMDB. The Consumer reviews will include those completed by reviewers on Rotten Tomatoes, MetaCritic, and IMDB.<p>
      <h3><i>II. . Do academy award winning films reach the highest financial revenue in comparison to non- awarded films</i></h3>
        <p>This query aims to highlight the commercial success of academy award winning films with that of non-awarded films. This visualization can be done across multiple years that will be highlighted in a line graph, while when selecting a single year a box plot would easily be able to populate the information clearly for the end user.<p>
      <h3><i>III. Yearly highlights in the theaters</i></h3>
        <p>This query aims to give a simple comprehensive view to the end user that allows for a quick look back at a year's most enjoyed films based on user reviews.<p>
      <h3><i>IV. What genre of film dominated the year in comparison to other genres</i></h3>
        <p>This query aims to give the end user an overview of how well genres did over a selected year<p>
      <h3><i>V. Comparison of Domestic (Within the United States) and Foreign (Outside the United States) film consumer and critic reviews </i></h3>
        <p>This query aims to distinguish the success of Foreign films in comparison to that of Domestic films within a distinguished year. This will combine the overall consumer and critic review of all films to get a consensus of how well either foreign or international films were perceived in a year<p>
    </div>
  </div>
{% endblock %}